Repository viseshrp/hatch-timestamp-version: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vulture, deptry

.pre-commit-config.yaml:

repos:
  # ðŸ§° Built-in hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.py$  # Ruff handles Python files

  # âœ¨ Ruff for lint + format
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.10
    hooks:
      # Run the linter alone
      - id: ruff-check
        args: [
          --fix,
          --exit-non-zero-on-fix
        ]

  # ðŸ§ª Typing, dependency, security checks
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        exclude: ^hatch_timestamp_version/_vendor/
        args: [
          --line-length=100,
          --target-version=py39,
          --exclude=hatch_timestamp_version/_vendor
        ]

  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: [ "-lll", "-n", "3", "-r", "-x", "venv/*,setup.py,tests/*" ]

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
      - id: markdownlint
        args: [ --fix, --disable, MD024 ]

  # ðŸ§± Local system hooks (for tools with no mirrors or your preference)
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        exclude: ^hatch_timestamp_version/_vendor/
        types: [ python ]
        args: [
          "--disallow-untyped-defs",
          "--no-implicit-optional",
          "--warn-unused-ignores",
          "--warn-return-any"
        ]

      - id: vulture
        name: vulture
        entry: vulture
        language: system
        types: [ python ]
        args: [
          "hatch_timestamp_version",
          "tests",
          "--min-confidence", "80"
        ]
        pass_filenames: false

      - id: deptry
        name: deptry
        entry: uv run deptry .
        language: python
        language_version: python3
        types: [ python ]
        pass_filenames: false

cruft
  .cruft.json
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Update test_hooks.py
  tests/test_hooks.py
Due: mypy, vulture, deptry

Update pyproject.toml
  pyproject.toml
Due: none

Remove hatch-vcs submodule
  .gitmodules
  hatch_timestamp_version/_vendor/hatch_vcs/__about__.py
  hatch_timestamp_version/_vendor/hatch_vcs/__init__.py
  hatch_timestamp_version/_vendor/hatch_vcs/build_hook.py
  hatch_timestamp_version/_vendor/hatch_vcs/hooks.py
  hatch_timestamp_version/_vendor/hatch_vcs/metadata_hook.py
  hatch_timestamp_version/_vendor/hatch_vcs/vcs_utils.py
  hatch_timestamp_version/_vendor/hatch_vcs/version_source.py
Due: vulture, deptry

use as a dep
  Makefile
  hatch_timestamp_version/hooks.py
  pyproject.toml
  uv.lock
Due: mypy, vulture, deptry

update deps
  pyproject.toml
  uv.lock
Due: none

Update hooks.py
  hatch_timestamp_version/hooks.py
Due: mypy, vulture, deptry

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fixed plugin naming
  CHANGELOG.md
  README.md
  hatch_timestamp_version/hooks.py
Due: mypy, vulture, deptry

override get_version_data
  hatch_timestamp_version/hooks.py
Due: mypy, vulture, deptry

is_dev_version
  hatch_timestamp_version/hooks.py
Due: mypy, vulture, deptry

Update README.md
  README.md
Due: none

add config timestamp_format
  README.md
  hatch_timestamp_version/ts_scheme.py
Due: mypy, vulture, deptry

fix timestamp_format
  hatch_timestamp_version/hooks.py
  hatch_timestamp_version/ts_scheme.py
  tests/test_hooks.py
Due: mypy, vulture, deptry

Changed plugin name from 'timestamp-dev' to 'vcs-dev-timestamp'
  CHANGELOG.md
  README.md
  hatch_timestamp_version/hooks.py
  hatch_timestamp_version/ts_scheme.py
  pyproject.toml
Due: mypy, vulture, deptry

check for isdigit
  hatch_timestamp_version/ts_scheme.py
Due: mypy, vulture, deptry

update tests
  tests/test_hooks.py
  tests/test_hts.py
Due: mypy, vulture, deptry

fix types
  tests/test_hts.py
Due: mypy, vulture, deptry

add integration tests
  .github/workflows/main.yml
  hatch_timestamp_version/ts_scheme.py
  pyproject.toml
  tests/test_hts.py
Due: mypy, vulture, deptry

chore(pre-commit): Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

add hatch-timestamp-version to self
  pyproject.toml
Due: none

cruft
  .cruft.json
  .github/actions/setup-python-env/action.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  hatch_timestamp_version/_version.py
  pyproject.toml
  scripts/check_changelog_date.py
  scripts/tag_release.sh
Due: mypy, vulture, deptry

chore(pre-commit): Update pre-commit hooks (#2)
  .pre-commit-config.yaml
Due: none

Update uv.lock
  uv.lock
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update __init__.py
  hatch_timestamp_version/__init__.py
Due: mypy, vulture, deptry

Cruft (#3)
  .cruft.json
  .github/actions/setup-python-env/action.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  Makefile
  hatch_timestamp_version/__init__.py
  hatch_timestamp_version/_version.py
  pyproject.toml
  scripts/check_changelog_date.py
  scripts/tag_release.sh
  uv.lock
Due: mypy, vulture, deptry
